$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$form_gray: #ddd;
$border_color: #eee;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$dark_gray: #434a54;
$white_Shadow: #fafafa;
$alert_orange: #F35500;
$red: red;
