.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name aocattleya
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            %i.fa.fa-cog
  .groups
    .group
      .group__name
        GitHu部
        .group__message
          HelloWorld!!
    .group
      .group__name
        Twitter部
        .group__message
          初めての呟き
    .group
      .group__name
        Line部
        .group__message
          今から帰ります。