* {
  box-sizing: border-box;
}
.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $border_color;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: $dark_gray;
        margin-bottom: 15px;
      }
      &__member-list {
        display: flex;
        font-size: 12px;
        color: $light_gray;
        &__member__list-space {
          margin-left: 0.3rem;
        }
      }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
      position: absolute;
      right: 40px;
      a {
        text-decoration: none;
        color: $light_blue;
      }
    }
  }
  .messages {
    background-color: $white_Shadow;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0;
    .message {
      margin-bottom: 40px;
      .upper-message {
        display: flex;
        &__user-name {
          color: $dark_gray;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $dark_gray;
          font-size: 14px;
          margin-bottom: 10px;
        }
        &__image {
          object-fit: contain;
          width: 200px;
        }
      }
    }
  }
  .form {
    background-color: $form_gray;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      box-sizing: border-box;
      float: left;
      height: 50px;
      padding: 0 10px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
